RewriteEngine on

# The X-Frame-Options HTTP response header can be used to indicate whether
# or not a browser should be allowed to render a page in a <frame>, <iframe> or <object> .
<IfModule mod_headers.c>
        Header always set X-Frame-Options SAMEORIGIN
</IfModule>

# Disable directory indexing
Options -Indexes

# Deny access to LookingGlass subdirectory
# Overkill, but used for development (dev folder = /LookingGlass)
RedirectMatch 404 /LookingGlass/(.*\.(?:conf|db|sh)|(?:Config|LookingGlass|RateLimit)\.php)$

# Deny access to hidden files/folders
RedirectMatch 404 /\.

# Disable gzip for test files
SetEnvIf Request_URI \.bin$ no-gzip dont-vary